@font-face {
  font-family: titlar;
  src: url(./assets/titlar.otf);
}
@font-face {
  font-family: les;
  src: url(./assets/les.otf);
}

* {
  font-family: titlar;
}

.les-texti {
  font-family: les;
  font-weight: normal;
}
.titlar {
  text-transform: uppercase;
  font-weight: normal;
}
